<div class="row">
  <div class="col-md-12">
    <nb-select placeholder="Select A Node" [(selected)]="currentNodeId" (selectedChange)="changedNode($event)">
      <nb-option *ngFor="let node of nodes" [value]="node.nid">[{{ nodeType }}] Node Id {{ node.nid }}</nb-option>
    </nb-select>
    <button nbButton status="danger">Turn OFF</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Informations</nb-card-header>
      <nb-card-body>
        <ngx-node-card [node]="currentNode"></ngx-node-card>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-6" *ngIf="nodeType === 'sensor'">
    <nb-card>
      <nb-card-body>
        <canvas baseChart [datasets]="multiBatt" [labels]="labelBatt" [options]="battOption" type="line"> </canvas>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <canvas baseChart [datasets]="multiTemp" [labels]="labelTemp" [options]="tempOption" type="line"> </canvas>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-6" *ngIf="nodeType === 'station'">
    <nb-card>
      <nb-card-body>
        <canvas baseChart [datasets]="multiIp" [labels]="labelIp" [options]="ipOption" type="line"> </canvas>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6" *ngIf="nodeType === 'sensor'">
    <nb-card>
      <nb-card-body>
        <canvas baseChart [datasets]="multiVon" [labels]="labelVon" [options]="vonOption" type="line"> </canvas>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6" *ngIf="nodeType === 'sensor'">
    <nb-card>
      <nb-card-body>
        <canvas baseChart [datasets]="multiVoff" [labels]="labelVoff" [options]="voffOption" type="line"> </canvas>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6" *ngIf="nodeType === 'sensor'">
    <nb-card>
      <nb-card-body>
        <canvas baseChart [datasets]="multiVna" [labels]="labelVna" [options]="vnaOption" type="line"> </canvas>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="nodeType === 'station'">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header> Manual Control Ip(mA)</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <input nbInput type="number" placeholder="2000" />
            <button type="submit" nbButton status="primary">SET</button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Query Data</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <input nbInput placeholder="Start Time" [nbDatepicker]="startpicker" />
            <nb-date-timepicker #startpicker></nb-date-timepicker>
            <input nbInput placeholder="End Time" [nbDatepicker]="endpicker" />
            <nb-date-timepicker #endpicker></nb-date-timepicker>
            <nb-select selected="temperature">
              <nb-option value="temperature">Temperature</nb-option>
              <nb-option *ngIf="nodeType === 'sensor'" value="battery">battery</nb-option>
              <nb-option *ngIf="nodeType === 'station'" value="ip">Ip</nb-option>
              <nb-option *ngIf="nodeType === 'sensor'" value="von">Von</nb-option>
              <nb-option *ngIf="nodeType === 'sensor'" value="voff">Voff</nb-option>
              <nb-option *ngIf="nodeType === 'sensor'" value="vna">Vna</nb-option>
            </nb-select>
            <button type="submit" nbButton status="primary">Query</button>
          </div>
        </form>
        <ng2-smart-table [settings]="tablesettings" [source]="tablesource"> </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
